@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: poppins,sans-serif;
    color:white;
}
body{
    background-color: #27282a;
}
#navbar{
    padding: 10px;
    width: 100%;
    height: 80px;
    background-color: #be3144;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2vw;
    position:fixed;
    z-index: 1;
}
#navbar a{
    text-decoration: none;
}
#navbar a h4{
    margin-right: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
#welcome-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    padding: 300px;
}
#welcome-section h1{
    display: block;
    font-size: 6vw;
}
#welcome-section p{
    display: block;
    width: 100%;
    color: #be3144;
    font-size: 2vw;
    font-style: italic;
    font-weight: 300;
}
#projects{
    width: 100%;
    height: 154vh;
    background-color: #45567d;
    position: relative;
}
#projects h3{
    font-size: 3.6vw;
    font-weight: 500;
    padding: 1vw;
    text-align: center
}
.line{
    margin: 0 auto;
    margin-top: -21px;
    width: 58%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
}
#project-grid{
    width: 100vw;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

#row-1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
}
#row-1 a{
   width: 380px;
   height: 380px;
   text-decoration: none;
   transition: 0.3s linear; 
}
#row-1 a:hover{
   width: 450px;
   height: 450px; 
}

#row-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#row-1 p{
    text-align: center;
    background-color: #303841;
}
#row-1 p span{
    visibility: hidden;
}
#row-1 p span :hover{
    visibility: visible;
    color:orange;
}
#row-2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
}
#row-2 a{
    width: 380px;
    height: 380px;
    text-decoration: none;
    transition: 0.3s ease-out;
}
#row-2 a:hover{
    width: 450px;
    height: 450px;
}
#row-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#row-2 p span{
    visibility: hidden;
}
#row-2 p span :hover{
    visibility: visible;
    color:orange;
}
#project-grid button{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    /* width: 120px; */
   
    padding: 6px 14px;
    background-color: #303841;
    font-size: 18px;
    border-style: none;
    cursor: pointer;
}
#project-grid button:hover{
    background-color: #be3144;
}
.project-title{
    margin-top: -7px;
    padding: 14px;
    text-align: center;
    align-items: center;
    background-color: #303841;
    font-size: 20px;  
}
#contact{
    width: 100%;
    height: 88vh;
    background-color:#303841;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 8vw;
}

#contact-1 h1{
    font-size: 7.3vh; 
    font-weight: 500;
}
#contact-1 p{
    font-size: 1.2vw;
    font-style: italic;
    font-weight: 300;
    font-weight: 300;
}
#contact-2 {
    margin-top: 20px;
    width: 100%;
    padding: 5vh;
    /* background-color: aqua; */
}
#contact-2 a{
    padding: 20px;
    text-decoration: none;
    font-size: 22px;
    transition: 0.4s ease-out;
    
}
#contact-2 a:hover{
    font-size: 30px;
}
.line2{
    margin: 0 auto;
    width: 100%;
    height: 7px;
    background-color: #be3144;
    justify-content: center;
}
footer{
    width: 100%;
    height: 10vh;
    display: flex;
    padding: 2vw;
    align-items: center;
    justify-content: space-evenly;
    gap: 10vw;
    background-color: #303841;

}
footer p{
    font-size: 18px;
}
footer p a{
    font-size: 18px;
    text-decoration: none;
}

